{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little Pet - Cadastro</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <img src="{% static 'img/logo.png' %}" alt="Logo Little Pet" width="200">
        <h2>Cadastro</h2>
        <form action="{% url 'cadastro' %}" method = "post" autocomplete = "off">
            {% csrf_token %}
            {% bootstrap_form form %}
            <br> <input type="email" placeholder="Email" required> <br>
            <br> <input type="password" placeholder="Senha" required> <br>
            <br> <input type="tel" placeholder="Telefone" required> <br>
            <br> <input type="date" placeholder="Data de Nascimento" required> <br>
             <label>
                <br> <input type="checkbox" required> <br>
                Aceito os termos de uso
            </label>
           <br> <br> <button type="submit">Cadastrar</button> <br> <br>
        <p>Já tem uma conta? <a href={% url 'index' %}>Faça login</a></p>
    </div>
</body>
</html>
