{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little Pet - Cadastro</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <img src="{% static 'img/logo.png' %}" alt="Logo Little Pet" width="200">
        <h2>Cadastro</h2>
        <form action="{% url 'cadastro' %}" method = "post" autocomplete = "off">
            {% csrf_token %}

            {{ form.cpf.label_tag }} {{ form.cpf }}<br><br>
            {{ form.nome.label_tag }} {{ form.nome }}<br><br>
            {{ form.data_nascimento.label_tag }} {{ form.data_nascimento }}<br><br>
            {{ form.genero.label_tag }} {{ form.genero }}<br><br>
            {{ form.email.label_tag }} {{ form.email }}<br><br>
            {{ form.senha.label_tag }} {{ form.senha }}<br><br>
            {{ form.telefone.label_tag }} {{ form.telefone }}<br><br>
            {{ form.endereco.label_tag }} {{ form.endereco }}<br><br>
            {{ form.tipo_residencia.label_tag }} {{ form.tipo_residencia }}<br><br>

             <label>
                <br> <input type="checkbox" required> <br>
                Aceito os termos de uso
            </label>
           <br> <br> <button type="submit">Cadastrar</button> <br> <br>
        <p>Já tem uma conta? <a href={% url 'index' %}>Faça login</a></p>
    </div>
</body>
</html>
