<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little Pet - Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <img src="{% static 'img/logo.png' %}" alt="Logo Little Pet" width="200">
        <form action="telaprincipal.html">
            <br><input type="email" placeholder="Email"><br>
            <br><input type="password" placeholder="Senha"><br>
            <br> <a href="{% url 'telaprincipal' %}" class="btn btn-primary">Entrar</a> <br>
        </form>
        
        <p>Primeiro acesso?
        <a href="{% url 'cadastro' %}">  Cadastre-se aqui!</a></p>
    </div>
</body>
</html>
